body {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    min-height: 100vh;       
    margin: 0;
    font-family: "Din", sans-serif; 
    background-color: #f4f4f4;
    margin-top: 20px; 
    margin-bottom: 20px; 
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
}

header {
    text-align: center;
    font-size: large;
    color: orange;
     margin-top: 20px; 
    margin-bottom: 20px; 
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
}

nav {
    margin-top: 20px; 
    margin-bottom: 20px; 
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
}

nav ul {
    list-style: none; 
    padding: 50;
    margin: 20; 
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0; 
}

nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    background-color: cornflowerblue;
    text-decoration: none;
    color: #f4f4f4;
    font-weight: bold;
    border-radius: 5px; 
    transition: background-color 0.4s ease, color 0.4s ease; 
}

nav ul li a:hover {
    background-color: darkblue; 
    color: white; 
}

section {
    text-align: center;
    font-size: medium;
    margin-bottom: 40px;
}

