/* ALL IMAGES/GIFS USED ARE NOT MINE BESIDES THE NAME CARD */

.audio-player {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

#faxlist1 {
  width: 18rem;
  height: 20rem;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 9rem 9rem;
  position: absolute;
  top: 28rem;
  left: 4rem;
  background-image: url(faxlist.png);
}

.Int1 {
  font-size: 20pt;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  left: 15rem;
  top: 24rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);

}

h1 {color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
};    

.listcontainer {
  width: auto;
}

#list1 {
    position: relative;
    top: 2rem;
    list-style: none;
    padding-left: 0;
    width: fit-content;
    margin: auto;
}


/*first button*/
/* From Uiverse.io by adamgiebl, Partly tweeked by me */
#button1 {
    border: 6px solid rgb(255, 255, 255);
    display: block;
    position: relative;
    padding: 1.3em 12rem;
    margin-top: 2rem;
    border-radius: 2rem;
    font-size: 30px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    -webkit-text-stroke-width: 1pt;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    background-image: url("sharinganeyes.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100%;
    background-position: center;
  }
  
  #button1 span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
  }
  
  #button1 span::before {
    display: block;
    position: absolute;
    width: 8%;
    height: 700%;
    background: var(--lightgray);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
  }
  
  #button1:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: rgba(112, 0, 0, 0.651);
    z-index: -1;
  }
  
  #button1:hover {
    color: rgb(255, 255, 255);
    background-image: url("sharinganeyes.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }
  
  #button1:active span::before {
    background: #c2ffd6;
  }

/*Second Button*/
#button2 {
    border: 6px solid rgb(255, 255, 255);
    display: block;
    position: relative;
    padding: 1.3em 12rem;
    margin-top: 2rem;
    border-radius: 2rem;
    font-size: 30px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    -webkit-text-stroke-width: 1pt;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    background-image: url("zorowalk1.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  #button2 span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
  }
  
  #button2 span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 700%;
    background: var(--lightgray);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
  }
  
  #button2:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: rgba(112, 0, 0, 0.651);
    z-index: -1;
  }
  
  #button2:hover {
    color: rgb(255, 255, 255);
    background-image: url("zorowalk.gif");
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  #button2:active span::before {
    background: #c2ffd6;
  }

/*Third Button*/
#button3 {
    border: 6px solid rgb(255, 255, 255);
    display: block;
    position: relative;
    padding: 1.3em 13.1rem;
    margin-top: 2rem;
    border-radius: 2rem;
    font-size: 30px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    -webkit-text-stroke-width: 1pt;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    background-image: url("Sonic-Logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
  }
  
  #button3 span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
  }
  
  #button3 span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 700%;
    background: var(--lightgray);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
  }
  
  #button3:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: rgba(112, 0, 0, 0.651);
    z-index: -1;
  }
  
  #button3:hover {
    color: rgb(255, 255, 255);
    background-image: url("SonicRunCrop.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: center
    
  }
  
  #button3:active span::before {
    background: #c2ffd6;
  }

/*4th Button*/
#button4 {
    border: 6px solid rgb(255, 255, 255);
    display: block;
    position: relative;
    padding: 1.3em 12rem;
    margin-top: 2rem;
    border-radius: 2rem;
    font-size: 30px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    -webkit-text-stroke-width: 1pt;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    background-image: url("gokuvsvegeta.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 55%;
  }
  
  #button4 span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
  }
  
  #button4 span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 700%;
    background: var(--lightgray);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
  }
  
  #button4:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: rgba(112, 0, 0, 0.651);
    z-index: -1;
  }
  
  #button4:hover {
    color: rgb(255, 255, 255);
    background-image: url("gokuvsvegeta.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 55%;
  }
  
body {
    background-image: url("sunsetwizz.gif");
    background-size: 100vw;
}

#titlecard {
  background-image: url(backdroptitle2.gif);
  width: 50vw;
  height: 16vh;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}

.intro {
    margin: auto;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    position: relative;
    top: 1rem;
    font-size: 15pt;
    font-weight: bold;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0);
    -webkit-text-stroke-width: 1pt;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.26); 
    width: fit-content;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
}

/*art page link button*/
/* From Uiverse.io by felipesntr */ 
.artlink {
  padding: 2em 3em;
  position: absolute;
  right: 5rem;
  top: 27rem;
  border: 4px solid #fa725a;
  transition: ease-in-out 0.3s;
  background-color: transparent;
  color: #000000;
  font-weight: bolder;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
 }
 
 .artlink:hover {
  transform: scale(1.2) rotate(10deg);
  background-color: #fa725a;
  color: white;
 }


/*design page link button*/
.designlink {
  padding: 2em 3em;
  position: absolute;
  right: 22rem;
  top: 27rem;
  border: 4px solid #fa725a;
  transition: ease-in-out 0.3s;
  background-color: transparent;
  color: #000000;
  font-weight: bolder;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
 }
 
 .designlink:hover {
  transform: scale(1.2) rotate(10deg);
  background-color: #fa725a;
  color: white;
 }

.art1 {
  width: 16rem;
  height: 16rem;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 5em 10em;
  position: absolute;
  top: 36rem;
  right: 2rem;
  opacity: 0;
  transition: 0.8s;
}

.art1:hover { 
  background-image: url(zorobackpainting.jpg); 
  background-size: contain;
  background-repeat: no-repeat;
  padding: 5em 10em;  
  opacity: 1;
}

#eyes {
  background-image: url(eyeslookin.png);
  width: 5rem;
  height: 5rem;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 47rem;
  right: 18rem;
}

.pfp1 {
  background-image: url(pfpnico.png);
  background-size: contain;
  width: fit-content;
  padding: 5em 5em;
  background-repeat: no-repeat;
  border-radius: 5rem;
  position: absolute;
  top: 5rem;
  left: 10.5rem;
}

.pfp2 {
  background-image: url(avatyelvis.png);
  background-size: contain;
  width: fit-content;
  padding: 5em 5em;
  background-repeat: no-repeat;
  border-radius: 5rem;
  position: absolute;
  top: 5rem;
  right: 10rem;
}

