.card_2 {
 display: inline-block;
width: 190px;
 background: rgba(237, 202, 244, 0.181);
 padding: .4em;
 border-radius: 6px;
 margin-left: 120px;
}

.category {
 font-size: 0.7em;
 font-weight: 600;
 color: lightskyblue;
 padding: 10px 7px 0;
}

.category:hover {
 cursor: pointer;
}

.heading {
 font-weight: 600;
 color: rgb(238, 103, 238);
 padding: 7px;
}

.heading:hover {
 cursor: pointer;
}

.author {
 color: gray;
 font-weight: 400;
 font-size: 11px;
 padding-top: 20px;
}

.name {
 font-weight: 600;
}

.name:hover {
 cursor: pointer;
}

.card_3 {
    display: inline-block;
    width: 190px;
    background: rgba(237, 202, 244, 0.181);
    padding: .4em;
    border-radius: 6px;
    margin-left: 2.6%;
    margin-bottom: 2.6%;
   }
   
   .category {
    font-size: 0.7em;
    font-weight: 600;
    color: lightskyblue;
    padding: 10px 7px 0;
   }
   
   .category:hover {
    cursor: pointer;
   }
   
   .heading {
    font-weight: 600;
    color: rgb(238, 103, 238);
    padding: 7px;
   }
   
   .heading:hover {
    cursor: pointer;
   }
   
   .author {
    color: gray;
    font-weight: 400;
    font-size: 11px;
    padding-top: 20px;
   }
   
   .name {
    font-weight: 600;
   }
   
   .name:hover {
    cursor: pointer;
   }

.card {
 width: 495px;
 height: 530px;
 padding: 2%;
 margin-left: 500px;
 background: rgb(255, 255, 255);
 border-bottom: 2px solid blueviolet;
 border-right: 2px solid blueviolet;
 border-top: 2px solid white;
 border-left: 2px solid white;
 transition-duration: 1s;
 transition-property: border-top, 
    border-left, 
    border-bottom,
    border-right,
    box-shadow;
}

.card:hover {
 border-top: 2px solid blueviolet;
 border-left: 2px solid blueviolet;
 border-bottom: 2px solid rgb(238, 103, 238);
 border-right: 2px solid rgb(238, 103, 238);
 box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.card__content {
 font-size: small;
 text-align: center;
 color: blueviolet;
}

.card__content-heading {
 color: lightskyblue;
}

.card__content-body p {
 color: rgb(118, 104, 128);
 padding-bottom: 1rem;
}

.btn1 {
    padding: 1rem 2rem;
    font-weight: 700;
    margin-left: 500px;
    margin-top: 35px;
    margin-bottom: 20px;
    background: rgb(237, 202, 244, 0.181);
    color: blueviolet;
    border-bottom: 2px solid blueviolet;
    border-right: 2px solid blueviolet;
    border-top: 2px solid white;
    border-left: 2px solid white;
    transition-duration: 1s;
    transition-property: border-top, 
       border-left, 
       border-bottom,
       border-right,
       box-shadow;
   }
   
   .btn1:hover {
    border-top: 2px solid blueviolet;
    border-left: 2px solid blueviolet;
    border-bottom: 2px solid rgb(238, 103, 238);
    border-right: 2px solid rgb(238, 103, 238);
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px;
   }

   .btn2 {
    padding: 1rem 2rem;
    font-weight: 700;
    margin-left: 25px;
    margin-top: 35px;
    margin-bottom: 20px;
    background: rgb(237, 202, 244, 0.181);
    color: blueviolet;
    border-bottom: 2px solid blueviolet;
    border-right: 2px solid blueviolet;
    border-top: 2px solid white;
    border-left: 2px solid white;
    transition-duration: 1s;
    transition-property: border-top, 
       border-left, 
       border-bottom,
       border-right,
       box-shadow;
   }
   
   .btn2:hover {
    border-top: 2px solid blueviolet;
    border-left: 2px solid blueviolet;
    border-bottom: 2px solid rgb(238, 103, 238);
    border-right: 2px solid rgb(238, 103, 238);
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px;
   }
   
