body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.legend {
    position: absolute;
    top: 10px;
    right: 24px;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 40px;
    background-color: transparent;
}

.legend-marker {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: 24px;
}

.popup-content {
    font-size: 24px;
    line-height: 1.5;
}

.buttons-container {
    position: absolute;
    top: 24px;
    left: 60px;
    z-index: 1;
}

.buttons-container button {
    margin-bottom: 5px;
}

#title {
    font-size: 150px;
    position: absolute;
    top: 10px;
    left: 24px;
    animation: pulse 2s infinite;
    z-index: 1;
}

@keyframes pulse {
    0% { color: #FF5733; }
    25% { color: #DAF7A6; }
    50% { color: #D4AC0D; }
    75% { color: #7B241C; }
    100% { color: #FF5733; }
}

@keyframes text-pulse {
    0% { font-size: 4px; }
    25% { font-size: 6px; }
    50% { font-size: 8px; }
    75% { font-size: 6px; }
    100% { font-size: 4px; }
}