* {
<<<<<<< HEAD
    padding: 0;
    box-sizing: border-box;

}

main{
    text-align: center;
    align-items: center;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    overflow: hidden;
    width: 100%;
    height: 100%;
    text-align: left;
    font-size: 30px;
    color: #a44706;
}

h2{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    align-items: left;;
    font-weight: 100;
}

h3{
=======
  padding: 0;
  box-sizing: border-box;
}

main {
  text-align: center;
  align-items: center;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  overflow: hidden;
  width: 100%;
  height: 100%;
  text-align: left;
  font-size: 30px;
  color: #a44706;
}

h2 {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  align-items: left;
  font-weight: 100;
}

h3 {
>>>>>>> 710565a6f0690ee69fd880e56e81625fc3492d8e
  text-align: left;
  align-items: left;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color: #a44706;
  font-weight: 100;
}

<<<<<<< HEAD
p{
  text-align: left;
  align-items: left;
  font-family: Arial, Helvetica, sans-serif;
  font: 10px;
  padding-top: 60px;
  color: #a44706;
  font-weight: 600;
}

h4{
    font-family: Arial, Helvetica, sans-serif;
    font: 10px;
    text-align: left;
    align-items: center;
    position: relative;
    padding-top: 350px;
}

a{
=======
h4 {
  font-family: Arial, Helvetica, sans-serif;
  font: 10px;
  text-align: left;
  align-items: center;
  position: relative;
  padding-top: 450px;
}

a {
>>>>>>> 710565a6f0690ee69fd880e56e81625fc3492d8e
  text-decoration: none;
}

ol,
<<<<<<< HEAD
ul{
    list-style-type: disc;
    margin-left: 2.5rem;
    font-size: large;
}

/* From Uiverse.io by WhiteNervosa */ 
button {
  display:block;
=======
ul {
  list-style-type: disc;
  margin-left: 2.5rem;
  font-size: large;
}

/* From Uiverse.io by WhiteNervosa */
button {
  display: block;
>>>>>>> 710565a6f0690ee69fd880e56e81625fc3492d8e
  font-size: 13px;
  color: #a44706;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  margin-block: 7px;
}

button:focus,
button:hover {
  color: #dddddd;
}

button:focus:after,
button:hover:after {
  width: 100%;
  left: 0%;
}

button:after {
<<<<<<< HEAD
  content: "";
=======
  content: '';
>>>>>>> 710565a6f0690ee69fd880e56e81625fc3492d8e
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

body {
  background-color: #fff;
  background-image: url('scribbles.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position: right center;
}

main {
  position: relative;
  height: 100vh;
}

.image_wrapper {
  position: absolute;
  top: 255px;
  right: 0;
  left: 0px;
  width: 100%;
  height: auto;
}

.row {
  display: flex;
  gap: 30px;
  margin: none;
}

.row img {
  width: 100%;
  height: auto;
}

.image_container {
  position: relative;
  display: inline-block;
}

.image_container img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100;
  height: 100%;
  background-color: #a44706;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image_container:hover .overlay {
  opacity: 0.85;
}

<<<<<<< HEAD
.overlay,h5{
  font-family: Arial, Helvetica, sans-serif;
  color: white
=======
.overlay,
h5 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
>>>>>>> 710565a6f0690ee69fd880e56e81625fc3492d8e
}

body {
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#chicken {
  position: absolute;
  transform: translateY(-50%);
  top: 217.5px;
  height: 75px;
  width: 75px;
<<<<<<< HEAD
  background-image: url("chicken.png");
=======
  background-image: url('chicken.png');
>>>>>>> 710565a6f0690ee69fd880e56e81625fc3492d8e
  background-repeat: no-repeat;
  background-size: 75px;
  background-position: center;
  animation: moveAround 15s linear infinite;
}

@keyframes moveAround {
  0% {
    left: 100vw;
  }
  100% {
    left: -75px;
  }
}
<<<<<<< HEAD

=======
>>>>>>> 710565a6f0690ee69fd880e56e81625fc3492d8e
