body {
  background-color: rgb(254, 250, 224);
  margin-left: 2%;
  margin-right: 2%;
}
/* styling the header */
#title {
  display: flex;
  font-family: 'Concert One', sans-serif;
  overflow: hidden;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2%;
}

h1 {
  text-align: center;
  color: rgb(212, 153, 115);
  font-family: 'Concert One', sans-serif;
  font-size: 4em;
  margin: 3px;
}
h2 {
  text-align: center;
  color: rgb(212, 153, 115);
  font-family: 'Concert One', sans-serif;
  font-size: 4em;
  margin-top: 3rem;
}
h3 {
  text-align: center;
  color: rgb(212, 153, 115);
  font-family: 'Concert One', sans-serif;
  font-size: 2em;
  margin: 3px;
}
.moe {
  position: relative;
  height: 40px;
  width: 70%;
  top: -70px;

  color: rgb(254, 250, 224);
  font-size: 4em;
  text-decoration-style: wavy;
  text-decoration-color: rgb(204, 213, 174);
  text-decoration-line: underline;
  animation: animate 1s linear infinite;
}
@keyframes animate {
  0% {
    left: -5%;
  }
  100% {
    left: 0%;
  }
}

a {
  text-decoration: none;
}
nav {
  float: left;
  width: 30%;
  background: rgb(254, 250, 224);
  padding: 20px;
  border-radius: 1rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
nav ul {
  padding: 1rem;
}

#card {
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  max-height: 100%;
  float: left;
  max-width: 100%;
  clip-path: circle();
}
#aboutme {
  float: left;
  font-family: 'concert one', sans-serif;
  font-size: 1.25em;
  color: rgba(212, 153, 115);
  padding-left: 20px;
  flex-grow: 2;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

.aboutme {
  padding-left: 20px;
}

.myimage {
  height: fit-content;
  width: fit-content;
}

section {
  display: flex;
}
article {
  float: left;

  width: 70%;
}

#viewers {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  height: 100%;
  width: 100%;
  margin-left: 1rem;
}

.viewer {
  right: 0;
  /* outline: 1px solid black; */
  border-radius: 1rem;
  width: 100%;
  height: 815px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.threedcanvas {
  right: 0;
  /* outline: 1px solid black; */
  border-radius: 1rem;
  margin-top: 2rem;
  width: 100%;
  height: 815px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.buttonsection {
  text-align: center;
  margin-top: 2rem;
}
button {
  all: unset;
  align-items: center;
}

.button {
  position: relative;
  display: inline-flex;
  height: 3.5rem;
  align-items: center;
  border-radius: 9999px;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: 'Concert One', sans-serif;
  font-size: 1.2rem;
  font-weight: 640;
  color: #fafaf6;
  letter-spacing: -0.06em;
}

.button-item {
  background-color: transparent;
  color: #1d1d1f;
}

.button-item .button-bg {
  border-color: rgba(204, 213, 174);
  background-color: rgba(204, 213, 174);
}

.button-inner,
.button-inner-hover,
.button-inner-static {
  pointer-events: none;
  display: block;
}

.button-inner {
  position: relative;
}

.button-inner-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(70%);
}

.button-bg {
  overflow: hidden;
  border-radius: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: transform 1.8s cubic-bezier(0.19, 1, 0.22, 1);
}

.button-bg,
.button-bg-layer,
.button-bg-layers {
  display: block;
}

.button-bg-layers {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -60%;
  aspect-ratio: 1 / 1;
  width: max(200%, 10rem);
}

.button-bg-layer {
  border-radius: 9999px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
}

.button-bg-layer.-pink {
  background-color: rgba(251, 196, 171);
}

.button-bg-layer.-brown {
  background-color: rgba(212, 163, 115);
}

.button-bg-layer.-green {
  --tw-bg-opacity: 1;
  background-color: rgba(204, 213, 174, var(--tw-bg-opacity));
}

.button:hover .button-inner-static {
  opacity: 0;
  transform: translateY(-70%);
  transition: transform 1.4s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.3s linear;
}

.button:hover .button-inner-hover {
  opacity: 1;
  transform: translateY(0);
  transition: transform 1.4s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 1.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.button:hover .button-bg-layer {
  transition: transform 1.3s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.3s linear;
}

.button:hover .button-bg-layer-1 {
  transform: scale(1);
}

.button:hover .button-bg-layer-2 {
  transition-delay: 0.1s;
  transform: scale(1);
}

.button:hover .button-bg-layer-3 {
  transition-delay: 0.2s;
  transform: scale(1);
}

::-webkit-scrollbar {
  width: 1.5em;
}
::-webkit-scrollbar-track {
  background: hsl(30 53% 64% / 1);
  border-radius: 100vw;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: hsl(52 94% 94% / 1);
  border: 0.25em solid hsl(30 53% 64% / 1);
  border-radius: 100vw;
}
