* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.background {
  width: 100%;
  height: 100vh; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  background: url('./images/background.jpg');
  background-position: top;
  background-size: cover; 
}

.header {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 0 20px;  
  width: 100%;
  box-sizing: border-box;
  position: fixed;  
  top: 0;  
  left: 0; 
  z-index: 1000; 
}

.webtitle {
  font-size: 18px;  
  font-weight: bold;  
  font-family: Arial, sans-serif;  
  padding: 10px;
}

.pagetitle {
  text-align: center;  
  font-size: 25px;  
  font-weight: bold;  
  font-family: Arial, sans-serif; 
  padding: 10px;
  border-radius: 10px;
  background-color: none;  
}

.nav-icons {
  display: flex; 
  gap: 20px; 
  align-items: center; 
}

.icon-button {
  background: none;
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon-button .material-symbols-outlined {
  font-size: 25px;
  color: white;
}

.icon-button:hover {
  transform: scale(1.3); 
  transition: 0.3s;
}

/* Container for ALL content */
.main {
  display: flex;
  top: 0;
  width: 1000px;
  height: 500px;
  margin-top: -90px; 
  /* background-color: rgb(252, 110, 39);
  border-radius: 10px; */
}

/*Section - Body-Content - Left Side*/
.leftside {
  flex: 1; 
  display: flex; 
  justify-content: flex-end;
  align-items: center;
  height: auto;
}

.leftside img {
  width: 100%;
  transform: rotate(-10deg); 
  transition: transform 0.3s ease;  
  margin-right: -50px;
}

.rightside {
  flex: 2; 
  padding: 25px;
  justify-content: center;
  align-content: center;
  height: auto;
  /*background-color: rgb(60, 34, 255);*/
}

.aboutme {
  display: flex;           
  flex-direction: column;   
  justify-content: center;  
  align-items: center;      

  font-family: "Montserrat", sans-serif;
  font-size: 14pt;
  font-weight: 100;
  font-style: normal;
  color: white;
}

body h1 {
  font-stretch: extra-expanded;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 70pt;
  font-weight: 200;
  font-style: normal;
  color: white;
}

.aboutme ul {
  justify-content: center;
  width: 65%;
  list-style: none; 
  padding: 0;
  margin: 10px 0;
}

.aboutme ul li {
  display: flex; 
  align-items: center; 
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 30px; 
}

.aboutme ul li img {
  width: 40px; 
  height: auto; 
}

.assignments {
  width: 400px;
  margin-left: 600px;
}

.assignments img {
  width: 100%;
  height: auto;
}

.bottom-nav {
  width: 1000px; 
  z-index: 1000; 
  display: flex;        
  justify-content: center; 
  padding: 20px 0;      
  position: absolute;  
  bottom: 120px; 
  left: 50%;
  transform: translateX(-50%);
}

.bottom-nav ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
}

.bottom-nav ul li {
  display: inline; 
}

.navbar {
  width: 1000px;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
}

.navbar ul li {
  display: inline;
}

/* From Uiverse.io*/ 
.navbar ul li button {
  width: 120px;
  height: auto;
  color: white;
  background: none;
  border: 3px solid rgba(255, 255, 255, 0.6);
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;

  font-size: 16px;
  font-stretch: extra-expanded;
  font-weight: 700;
  font-family: Arial, sans-serif;
  position: relative; 
  overflow: visible; 
  transition: 0.5s ease;
}

.navbar ul li button:hover {
  transform: scale(1.1); 
}

.navbar ul li button::after {
  content: ""; 
  position: absolute;
  top: -10px; 
  left: -10px; 
  width: calc(100% + 20px); 
  height: calc(100% + 20px); 
  background: linear-gradient(45deg, #69007f, #fffc5f, #fc0987); 
  border-radius: 15px; 
  z-index: -1; 
  filter: blur(20px); 
  opacity: 0; 
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; 
}

.navbar ul li button:hover::after {
  opacity: 1; 
  transform: scale(1.2);
}


