body {
    background-color: beige;
}

header {
    background-color: blue;
    color: white;
}

h1 {
    color: yellow;
}

img {
    border: 8px solid rgb(30, 110, 153);
    border-radius: 50%;
}

button {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: gray;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid gray;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 gray;
}

button:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 gray;
}

button:active {
    transform: scale(0.9);
}

#title {
    color: aqua;
}

.subtitle {
    border: 3px solid red;
    margin: 20px;
    padding: 20px
}