* {

  margin: 0;

  padding: 0;

  box-sizing: border-box;

}



body,

html {

  overflow: hidden;

  width: 100%;

  height: 100%;

}



h1 {

  color: rgb(255, 255, 255);

}



.about {

  width: 95%;

  display: flex;

  flex-direction: row;

  justify-content: center;

  align-items: center;

  overflow: hidden;

}



.assignment2 {

  width: 95%;

  height: 100%;

  display: flex;

  flex-direction: row;

  justify-content: start;

  align-items: end;

  overflow: hidden;

  gap: 2rem;

}



.about section {

  background-color: #ffffff;

  width: 70%;

  border-radius: 1rem;

  display: flex;

  flex-direction: row;

  justify-content: center;

  align-items: center;

  gap: 5rem;

}



.vl {

  border-left: 1px solid rgb(255, 255, 255);

  height: 150px;

}



#three-canvas {

  position: fixed;

  /* top: 0; */

  left: 220;

  bottom: 100;

  outline: none;

}



#map {

  position: absolute;

  height: 100%;

  width: 100%;

}



#p5 {

  display: flex;

  justify-content: center;

  width: 100%;

  height: 100%;

  margin: 0;

}



#p5-container {

  display: block;

}



button {

  appearance: none;

  background-color: transparent;

  border: 0.125em solid #ffffff;

  border-radius: 0.9375em;

  box-sizing: border-box;

  color: #ffffff;

  cursor: pointer;

  display: inline-block;

  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  font-size: 16px;

  font-weight: 600;

  line-height: normal;

  margin: 5px;

  min-height: 3.75em;

  min-width: 0;

  outline: none;

  padding: 1em 2.3em;

  text-align: center;

  text-decoration: none;

  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);

  user-select: auto;

  -webkit-user-select: none;

  touch-action: manipulation;

  will-change: transform;

}



button:disabled {

  pointer-events: none;

}



button:hover {

  color: #ffffff;

  background-color: #ffffff;

  box-shadow: rgb(255, 255, 255) 0 8px 15px;

  transform: translateY(-2px);

}



button:active {

  box-shadow: none;

  transform: translateY(0);

}



@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {



margin: 0;

height: 100%;

overflow: hidden;

font-family: 'Roboto' !important;

color: rgb(255, 255, 255);

font-size: 9px;

}



#magic {



position: fixed;

width: 100%;

height: 100vh;

display: block;

top: 0;

left: 0;

z-index: -9999;

}



.playground{



position: fixed;

width: 100%;

height: 100vh;

display: block;

top: 0;

left: 0;

display: flex;

flex-wrap: nowrap;

flex-direction: column;

justify-content: flex-end;

align-items: center;



}

.bottomPosition{



text-align: center;

margin-bottom: 50px;



}

.minText{



font-size: 14px;

}



a {

color: rgb(255, 255, 255);

font-size: 12px;

text-decoration: none;

}



.logo {

  width: 50px;

  height: 50px;

}



.github-button .button-inner, .github-button .button-bg {

  width: 100%;

  height: 100%;

  display: flex;

  align-items: center;

  justify-content: center;

  border-radius: 50%;

}



.github-button .button-bg {

  position: absolute;

  background:#ffffff;

  z-index: -1;

  border-radius: 50%;

  pointer-events: none;

  transition: all 0.3s;

}



.github-button:hover .button-bg {

  transform: rotate(35deg);

  transform-origin: bottom;

  background: #ffffff;

}



.github-button:hover .button-inner {

  background: rgba(255, 255, 255, 0.466);

  backdrop-filter: blur(4px);

}

