@font-face {
  font-family: 'CustomFont';
  src: url('./rw_regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
  background-image: url(../images/librarybackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 20px;
  font-family: 'CustomFont', sans-serif;
  color: #333;
  cursor: url('../images/star.png'), auto;
}

header {
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  background-color: #261208;
  z-index: 400;
  padding-left: 30px;
  color:rgb(255, 255, 255)
}

main {
  margin-top: 25px;
}

  section {
    padding-top: 40px;
    padding-left: 150px;
    color: rgb(255, 255, 255);
    max-width: 800px; 
    margin: 0 auto; 
    text-align: left; 
  
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 60px;
}

.left-image {
  margin-right: 0px;
  }

.buttons {
  display: flex;
  flex-direction: column; 
}

button {
  --color: rgb(22, 68, 101);
  font-family: inherit;
  display: inline-block;
  width: 100px;
  height: 2em;
  line-height: 2em;
  overflow: hidden;
  cursor: pointer;
  margin: 10px;
  font-size: 14px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 6px;
  position: absolute;
  top: 10px;
  left: 10px;
}


button:hover {
  color: white;
}

button:before {
  top: 100%;
  left: 100%;
  transition: 0.3s all;
}

.center-text {
  text-align: center;
}

@font-face {
  font-family: 'CustomFont';
  src: url('./rw_regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
  background-image: url(../images/librarybackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 20px;
  font-family: 'CustomFont', sans-serif;
  color: #333;
  cursor: url('../images/star.png'), auto;
}

header {
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  background-color: #261208;
  z-index: 400;
  padding-left: 30px;
  color:rgb(255, 255, 255)
}

main {
  margin-top: 25px;
}

  section {
    padding-top: 40px;
    padding-left: 150px;
    color: rgb(255, 255, 255);
    max-width: 800px; 
    margin: 0 auto; 
    text-align: left; 
  
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 60px;
}

.left-image {
  margin-right: 0px;
  }

.buttons {
  display: flex;
  flex-direction: column; 
}

button {
  --color: rgb(22, 68, 101);
  font-family: inherit;
  display: inline-block;
  width: 100px;
  height: 2em;
  line-height: 2em;
  overflow: hidden;
  cursor: pointer;
  margin: 10px;
  font-size: 14px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 6px;
  position: absolute;
  top: 10px;
  left: 10px;
}

button:hover {
  color: white;
}

button:before {
  top: 100%;
  left: 100%;
  transition: 0.3s all;
}

.center-text {
  text-align: center;
}