/* Fonts */

@font-face {
  font-family: MagilioRegular-Yzv2O;
  src: url(../Fonts/MagilioRegular-Yzv2O.ttf);
}

@font-face {
  font-family: Montserrat-Light;
  src: url(../Fonts/Montserrat-Light.ttf);
}

@font-face {
  font-family: Montserrat-LightItalic;
  src: url(../Fonts/Montserrat-LightItalic.ttf);
}

@font-face {
  font-family: Montserrat-Medium;
  src: url(../Fonts/Montserrat-Medium.ttf);
}

@font-face {
  font-family: Montserrat-MediumItalic;
  src: url(../Fonts/Montserrat-MediumItalic.ttf);
}

/* Body Flexbox (Not Including Header/Footer) */

html, body {
  height: 100%;
  margin: 0;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(255,255,255,0.5);
}

nav{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
}

main{
  flex: 1;
}

/* Header */

header{
  background-color:rgb(41, 17, 88);
  padding-top: 50px;
  position: static;
  top: 0px;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Title */

:root {
  --clr-1: rgb(242, 242, 186);
  --clr-2: rgba(147, 112, 219);
  --clr-3: rgb(41, 17, 88);
  --clr-4: #e6e6fa;

  --blur: 1rem;
  --fs: clamp(3rem, 8vw, 7rem);
  --ls: clamp(-1.75px, -0.25vw, -3.5px);
}

*,
*::before,
*::after {
  font-family: 'inherit';
  box-sizing: border-box;
}

.content {
  text-align: center;
}

.title {
  font-family: 'MagilioRegular-Yzv2O';
  color: #e6e6fa;
  font-size: var(--fs);
  font-weight: 800;
  letter-spacing: var(--ls);
  position: relative;
  overflow: hidden;
  background: var(--bg);
  margin: 0;
  padding-top: 35px;
}

.subtitle {
  font-family: 'Montserrat-Light';
  font-size: 20px;
  color:#e6e6fa;
  padding-bottom: 25px;
}

.aurora {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  mix-blend-mode: darken;
  pointer-events: none;
}

.aurora__item {
  overflow: hidden;
  position: absolute;
  width: 60vw;
  height: 60vw;
  background-color: var(--clr-1);
  border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  filter: blur(var(--blur));
  mix-blend-mode: overlay;
}

.aurora__item:nth-of-type(1) {
  top: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-1 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(2) {
  background-color: var(--clr-3);
  right: 0;
  top: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-2 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(3) {
  background-color: var(--clr-2);
  left: 0;
  bottom: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-3 8s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(4) {
  background-color: var(--clr-4);
  right: 0;
  bottom: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-4 24s ease-in-out infinite alternate;
}

@keyframes aurora-1 {
  0% {
    top: 0;
    right: 0;
  }

  50% {
    top: 100%;
    right: 75%;
  }

  75% {
    top: 100%;
    right: 25%;
  }

  100% {
    top: 0;
    right: 0;
  }
}

@keyframes aurora-2 {
  0% {
    top: -50%;
    left: 0%;
  }

  60% {
    top: 100%;
    left: 75%;
  }

  85% {
    top: 100%;
    left: 25%;
  }

  100% {
    top: -50%;
    left: 0%;
  }
}

@keyframes aurora-3 {
  0% {
    bottom: 0;
    left: 0;
  }

  40% {
    bottom: 100%;
    left: 75%;
  }

  65% {
    bottom: 40%;
    left: 50%;
  }

  100% {
    bottom: 0;
    left: 0;
  }
}

@keyframes aurora-4 {
  0% {
    bottom: -50%;
    right: 0;
  }

  50% {
    bottom: 0%;
    right: 40%;
  }

  90% {
    bottom: 50%;
    right: 25%;
  }

  100% {
    bottom: -50%;
    right: 0;
  }
}

@keyframes aurora-border {
  0% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }

  25% {
    border-radius: 47% 29% 39% 49% / 61% 19% 66% 26%;
  }

  50% {
    border-radius: 57% 23% 47% 72% / 63% 17% 66% 33%;
  }

  75% {
    border-radius: 28% 49% 29% 100% / 93% 20% 64% 25%;
  }

  100% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }
}

/* Mouse Cursor Dot */

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    overflow: hidden;
    cursor: none; /* Optional: Hides the default cursor */
}
.circle {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgba(147, 112, 219); /* Low-opacity blue */
    border-radius: 50%;
    pointer-events: none; /* Prevents the circle from interfering with clicks */
    transition: transform 0.05s ease-out; /* Smooth movement */
}  
 
 .card {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    gap: 20px;
  }
  
/* Assignment Buttons */
/* Button-1 */

.button-1 {
  position: static;
  background-color: rgb(41, 17, 88);
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-family: 'Montserrat-Light';
  border-radius: 10px;
  width: 300px;
  height: 60px;
  border: none;
  text-transform:capitalize;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 20px 25px rgb(41, 17, 88);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}
.button-1::before {
  content: "That's This Page, Silly";
  font-size: 15px;
  font-family: 'Montserrat-Light';
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(135deg,rgba(147, 112, 219),#e6e6fa );
  transform: translate(0%,90%);
  z-index: 99;
  position: relative;
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}
.button-1::after {
  content: "About";
  font-family: 'Montserrat-Light';
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(41, 17, 88);
  width: 100%;
  height: 100%;
  pointer-events: none;
  transform-origin: top;
  transform: translate(0%,-100%);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}
.button-1:hover::before {
  transform: translate(0%,0%);
}
.button-1:hover::after {
  transform: translate(0%,-200%);
}
.button-1:focus {
  outline: none;
}
.button-1:active {
  scale: 0.95;
}

/* Button-2 */

.button-2 {
  position: static;
  background-color: rgb(41, 17, 88);
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-family: 'Montserrat-Light';
  border-radius: 10px;
  width: 300px;
  height: 60px;
  border: none;
  text-transform: capitalize;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 20px 25px rgb(41, 17, 88);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}
.button-2::before {
  content: "Blender + Meshroom + Three.js";
  font-size: 15px;
  font-family: 'Montserrat-Light';
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(135deg,rgba(147, 112, 219),#e6e6fa );
  transform: translate(0%,90%);
  z-index: 99;
  position: relative;
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}
.button-2::after {
  content: "Assignment 2";
  font-size: 15px;
  font-family: 'Montserrat-Light';
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(41, 17, 88);
  width: 100%;
  height: 100%;
  pointer-events: none;
  transform-origin: top;
  transform: translate(0%,-100%);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}
.button-2:hover::before {
  transform: translate(0%,0%);
}
.button-2:hover::after {
  transform: translate(0%,-200%);
}
.button-2:focus {
  outline: none;
}
.button-2:active {
  scale: 0.95;
}

/* Button-3 */

.button-3 {
  position: static;
  background-color: rgb(41, 17, 88);
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-family: 'Montserrat-Light';
  font-weight: 50;
  border-radius: 10px;
  width: 300px;
  height: 60px;
  border: none;
  text-transform: capitalize;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 20px 25px rgb(41, 17, 88);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}
.button-3::before {
  content: "Maplibre";
  font-size: 15px;
  font-family: 'Montserrat-Light';
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(135deg,rgba(147, 112, 219),#e6e6fa );
  transform: translate(0%,90%);
  z-index: 99;
  position: relative;
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}
.button-3::after {
  content: "Assignment 3";
  font-size: 15px;
  font-family: 'Montserrat-Light';
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(41, 17, 88);
  width: 100%;
  height: 100%;
  pointer-events: none;
  transform-origin: top;
  transform: translate(0%,-100%);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}
.button-3:hover::before {
  transform: translate(0%,0%);
}
.button-3:hover::after {
  transform: translate(0%,-200%);
}
.button-3:focus {
  outline: none;
}
.button-3:active {
  scale: 0.95;
}

/* Button-4 */

.button-4 {
  position: static;
  background-color: rgb(41, 17, 88);
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-family: 'Montserrat-Light';
  font-weight: 50;
  border-radius: 10px;
  width: 300px;
  height: 60px;
  border: none;
  text-transform: capitalize;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 20px 25px rgb(41, 17, 88);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}
.button-4::before {
  content: "GIS + BIM";
  font-size: 15px;
  font-family: 'Montserrat-Light';
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(135deg,rgba(147, 112, 219),#e6e6fa );
  transform: translate(0%,90%);
  z-index: 99;
  position: relative;
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}
.button-4::after {
  content: "Final";
  font-size: 15px;
  font-family: 'Montserrat-Light';
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(41, 17, 88);
  width: 100%;
  height: 100%;
  pointer-events: none;
  transform-origin: top;
  transform: translate(0%,-100%);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}
.button-4:hover::before {
  transform: translate(0%,0%);
}
.button-4:hover::after {
  transform: translate(0%,-200%);
}
.button-4:focus {
  outline: none;
}
.button-4:active {
  scale: 0.95;
}

/* About Me Section (need to move up on the page) */

#About{
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 30px;
}

#About li{
    font-family: 'Montserrat-Light', sans-serif;
    font-size: 15px;
  }

/* Picture Slideshow */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  max-width: 500px;
  position: relative;
  right: -510px;
  margin: 0 10px;
  padding-right: 20px;
  padding-top: 40px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: 10px;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 20px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #e6e6fa;
}

/* Caption text (Not Putting Any In) */
.text {
  color: rgb(41, 17, 88);
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/7 etc) NOT USING RIGHT NOW */
.numbertext {
  color: rgb(41, 17, 88);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators NOT USING RIGHT NOW */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #e6e6fa;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: rgb(41, 17, 88);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Social Media Buttons */

  /* for all social containers*/
  .socialContainer {
    width: 35px;
    height: 35px;
    background-color: rgba(147, 112, 219);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: 0.5s;
    border-radius: 30px;
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #e6e6fa;
    transition-duration: 0.5s;
    transform: scale(1.2);
  }
  /* linkdin*/
  .containerThree:hover {
    background-color: #e6e6fa;
    transition-duration: 0.5s;
    transform: scale(1.2);
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: 0.3s;
  }
  
  .socialSvg {
    width: 17px;
  }
  
  .socialSvg path {
    fill: rgb(230, 230, 250);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  #Socials{
    font-family:'Montserrat-Light'; 
    font-size: 15px;
  }

/*  Footer Section */

  footer{
    width: 100%;
    text-align: center;
    position: static;
    bottom: 0;
    padding: 2px 0;
    background-color: rgb(41, 17, 88);
    color: white;
  }

  .card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 15px;
  }

  .socialSvg{
    width: 24px;
    height: 24px;
    fill: white;
  }

  .socialContainer{
    display: flex;
    align-items: center;
  }

  .instagramSvg, .linkdinSVG{
    cursor: pointer;
  }