body{
    position: relative;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}
header{
    margin-top: 3em;
    text-align: center;
    color: white;
}
body {
    position: relative;
    content: "";
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(models/background_trees.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
  }

#three-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}