* {
    padding: 0;
    box-sizing: border-box;

}
.animated-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    background-color: #f0f0f0; /* Light gray background */
  }
  
  .animated-background::before,
  .animated-background::after {
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgba(100, 100, 255, 0.1); /* Light blue circles */
    animation: move 15s infinite linear;
  }
  
  .animated-background::before {
    left: -150px;
    top: -150px;
  }
  
  .animated-background::after {
    right: -150px;
    bottom: -150px;
    animation-delay: -5s;
    animation-duration: 20s;
  }
  
  @keyframes move {
    0% {
      transform: translateX(0) translateY(0);
    }
    25% {
      transform: translateX(100%) translateY(0);
    }
    50% {
      transform: translateX(100%) translateY(100%);
    }
    75% {
      transform: translateX(0) translateY(100%);
    }
    100% {
      transform: translateX(0) translateY(0);
    }
  }

body,
html {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

ol,
ul {
    list-style-type: disc;
    margin-left: 2.5rem;
    font-size: large;
}


h1 {
    color: red;
}

.about {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


button {
    appearance: none;
    background-color: white;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 1rem;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 5px;
    min-height: 3.75em;
    min-width: 0;
    outline: none;
    padding: 1em 2.3em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

button:disabled {
    pointer-events: none;
}

button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    transform: translateY(-2px);
}

button:active {
    box-shadow: none;
    transform: translateY(0);
}