* {
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(21, 73, 128);
  color: rgb(21, 73, 128);
  text-align: center;
  width: 100%;
  display: table;
  font-size: large;
  overflow: hidden;
}

body,
.custom-cursor {
  cursor: url(./cursor.png), auto;
}

html,
body,
#map {
  height: 100%;
}

#header {
  background: rgb(21, 73, 128);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  text-indent: 10px;
  border-bottom: 1px solid #ccc;
}
.maplibregl-popup-close-button {
  background-color: rgb(21, 73, 128); /* Red background */
  color: rgb(21, 73, 128); /* White "X" */
  font-size: 16px; /* Adjust size */
  border: none; /* Remove border */
  width: 20px;
  height: 20px;
  line-height: 18px;
  text-align: center;
  cursor: url(./cursor.png), auto;
  position: absolute; /* Ensures it's positioned relative to the popup */
  top: 5px; /* Adjusts the vertical position */
  right: 5px; /* Adjusts the horizontal position */
  transform: none; /* Resets any unintended transform properties */
  padding: 0px;
}

#map .mapboxgl-popup-close-button:hover {
  background-color: rgb(21, 73, 128); /* Darker red on hover */
}

button {
  font-size: 16px;
  color: rgb(255, 255, 255);
  font-family: inherit;
  font-weight: 600;
  cursor: url(./cursor.png), auto;
  position: relative;
  border: none;
  background: none;
  text-transform: lowercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  padding-left: 0px;
  padding-right: 70px;
  overflow: hidden;
  height: 48px;
  line-height: 1;
}

button:focus,
button:hover {
  color: rgb(255, 255, 255);
  transform: translateY(-2px);
}

button:focus:after,
button:hover:after {
  width: 100%;
  left: 0%;
}

button:after {
  content: '';
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

#zoom-toronto-button {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: rgb(21, 73, 128);
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 11px;
  cursor: url(./cursor.png), auto;
  z-index: 10;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#zoom-toronto-button:hover {
  background-color: rgb(21, 73, 128, 0.8);
}
