body { margin: 0; padding: 0; }
html, body, #map { height: 100%; }


 .maplibregl-popup {
    max-width: auto;
    font: 12px/20px 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15pt;
    font-weight: lighter;
    background-color: transparent;
    border-width: 2pt;
    color: white;
 }

 .maplibregl-popup-content {
    background-color: rgb(0, 0, 0);
    border: 6px solid rgb(0, 255, 21);
    width: 250px;
 }

 #title {
    color: rgb(54, 231, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    z-index: 3;
    top: 0rem;
    left: 1rem;
    font-size: 20pt;
    font-weight: 5pt;
    letter-spacing: 1pt;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    -webkit-text-stroke: 1pt;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
    background-color: rgb(0, 0, 0); 
    width: fit-content;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
 }

 strong {
    font-weight: 1pt;
    letter-spacing: 1pt;
    -webkit-text-stroke-color: black;
}

p {
   font-size: 8pt;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}