*{
    text-align: left;
}
#three-canvas {
    width: 100%;
    height: 100%
}
header{
    color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    color: black;
    text-align: center;
}
.subtitle {
    text-align: center;
    border: 1px solid rgb(99, 245, 226);
    border-radius: 5px;
    margin:auto;
    padding:5px;
}
body{
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
}
ul{
    list-style-type: none;
}
img{
    width: 100px;
    height: 140px;
    padding: 10px;
    border-radius: 20px;
    opacity: 1
}

#three-button {
    align-items: center;
    background-color: rgb(99, 245, 226);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    justify-content: center;
    line-height: 1.25;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
   }
   
   #three-button:hover,
   #three-button:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
   }
   
   #three-button:hover {
    transform: translateY(-1px);
   }
   
   #three-button:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
   }
   canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -9999;
  }