body {
    background-color: rgb(207, 228, 249);
}

header {
    color: rgb(105, 131, 179);
}

h2 {
    color: rgb(50, 116, 182);
}

h1 {
    color: rgb(44, 75, 186); /* This color will be used as you've defined it later */
    border-style: double;
}
#three-canvas {
    position: fixed;
    /* top: 0; */
    left: 220;
    bottom: 100;
    outline: none;
button {
    position: relative; /* Added for the pseudo-element positioning */
    background: transparent;
    color: #185a84;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    border: none;
    padding: 10px 20px;
    perspective: 30rem;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.308);
}

button::before {
    content: '';
    display: block;
    position: absolute; /* Added for positioning */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: linear-gradient(320deg, rgba(0, 140, 255, 0.678), rgba(128, 0, 128, 0.308));
    z-index: 1;
    transition: background 3s;
}

button:hover::before {
    animation: rotate 1s;
    transition: all .5s;
}

@keyframes rotate {
    0% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}
