<style> 

h1{
  color: rgb(13, 60, 23);
  font-size: 40px;
  margin: 3em;
}
body {
  background-image: url('background.jpg');
  margin-left: 20em:

}
section{
  text-align: center;
  height: fit-content;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
.btn {
 width: 6.5em;
 height: 2.3em;
 margin: 42em;
 background: rgb(63, 83, 12);
 color: white;
 border: none;
 border-radius: 0.625em;
 font-size: 20px;
 font-weight: bold;
 cursor: pointer;
 position: relative;
 z-index: 1;
 overflow: hidden;
}

button:hover {
 color: rgb(12, 83, 12);
}

button:after {
 content: "";
 background: white;
 position: absolute;
 z-index: -1;
 left: -20%;
 right: -20%;
 top: 0;
 bottom: 0;
 transform: skewX(-45deg) scale(0, 1);
 transition: all 0.5s;
}

button:hover:after {
 transform: skewX(-45deg) scale(1, 1);
 -webkit-transition: all 0.5s;
 transition: all 0.5s;
}
.card {
    width: 310px;
    height: 254px;
    border-radius: 4px;
    background: rgba(235, 231, 225, 0.114);
    display: flex;
    gap: 5px;
    padding: .4em;
    margin-left: 37.5em;
    align-items: center;
  }
  
  .card a {
    height: 100%;
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px;
    transition: all .5s;
    background: #8faf87dd;
    border: 1px solid #ff5a91;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card a:hover {
    flex: 4;
  }
  
  .card a span {
    min-width: 14em;
    padding: .5em;
    text-align: center;
    transform: rotate(-90deg);
    transition: all .5s;
    text-transform: uppercase;
    color: #102b07d8;
    letter-spacing: .1em;
  }
  
  .card a:hover span {
    transform: rotate(0);
  }
            </style>

.maplibregl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}            