* {
    padding: 0;
    box-sizing: border-box;

}
html,
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow:auto;
    width: 100%;
    height: 100%;
}
h1 {
   text-align: left;
    color: #01161E;
    font-size: 40px;
}
h2{
    text-align: left;
    color: #01161E;
    font-size: 20px;
}
h3 {
    font-size: 30px;
    text-align: center;
    color: #01161E;
    margin-top: -50px;
    margin-bottom: 50px;
}
p1 {
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
}
p{
    font-size: 12px;
    line-height: 1.5;
    text-align: justify;
}
.about {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.assignment2 {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
    overflow: hidden;
    gap: 2rem;
}
img {
    float: left;
    margin-right: 20px;
    margin-left: 200px;
    width: 250px;
    margin-bottom: 30px;
    border-radius: 4px;
    border: 10px solid #AEC3B0;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.grey-line{
    border: 0;
    border-top: 2px solid #ccc;
    margin: 40px auto;
    width: 1000px;
}
.grey{
    border: 0;
    border-top: 2px solid #ccc;
    padding: 40px;
    width: 900px;
    clear: both;
    margin: 30px auto;
}

.assignments-container{
    background-color: #AEC3B0;
    padding: 120px;
    text-align: center;
    border-radius: 4px;
    margin: 70px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    overflow: hidden;
    width: 100%;
    height: 100%;
}


.about {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.assignment2 {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
    overflow: hidden;
    gap: 2rem;
}

.about section {
    background-color: #f1f1f1;
    width: 70%;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.vl {
    border-left: 1px solid lightgray;
    height: 150px;
}

#three-canvas {
    position: fixed;
    /* top: 0; */
    left: 220px;
    bottom: 100px;
    outline: none;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Set up container to hold the map and Three.js scene */
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; /* Aligns items to the bottom */
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    
}

#three-canvas {
    bottom: 0;
}
#frames {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    padding: 1rem;
}
#full-screen {
    width: 29px;
    height: 29px;
    position: relative;
    top: 40px;
    z-index: 99;
    left: 8px;
    padding: 0.3rem;
    pointer-events: all;
    cursor: pointer;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.frame {
    right: 0;
    border-radius: 1rem;
    width: 800px;
    height: 400px;
    justify-content: center;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
#map {
    position: absolute;
    height: 100%;
    width: 100%;
}
#p5 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
}

#p5-container {
    display: block;
}
button {
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    box-shadow: 5px 5px 0px #000;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block; padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #000;
    background-color: #AEC3B0;
    border: 2px solid #000;
    transition: all 0.3s ease;
    margin-right: 10px;
    margin-top: 10px;
  }
  
  
  button:hover {
    color: #4F5936;
    background-color: #fff;
    border: 2px solid #4F5936;
    box-shadow: 5px 5px 0px #4F5936;
  }
  
  button:active {
      box-shadow: none;
      transform: translateY(4px);
  }

  audio {
    margin: 10px;
  }