#header {
  font-family: 'Concert One', sans-serif;

  background: rgb(254, 250, 224);
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
}
#headerContent {
  display: flex;

  flex-direction: row;
  margin-right: auto;
}
#Title {
  margin-left: 35%;
}
a {
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  float: left;
}

button {
  all: unset;
}

.button {
  position: relative;
  display: inline-flex;
  height: 3.5rem;
  align-items: center;
  border-radius: 9999px;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: 'Concert One', sans-serif;
  font-size: 1.2rem;
  font-weight: 640;
  color: #fafaf6;
  letter-spacing: -0.06em;
}

.button-item {
  background-color: transparent;
  color: #1d1d1f;
  align-items: center;
}

.button-item .button-bg {
  border-color: rgba(204, 213, 174);
  background-color: rgba(204, 213, 174);
}

.button-inner,
.button-inner-hover,
.button-inner-static {
  pointer-events: none;
  display: block;
}

.button-inner {
  position: relative;
}

.button-inner-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(70%);
}

.button-bg {
  overflow: hidden;
  border-radius: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: transform 1.8s cubic-bezier(0.19, 1, 0.22, 1);
}

.button-bg,
.button-bg-layer,
.button-bg-layers {
  display: block;
}

.button-bg-layers {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -60%;
  aspect-ratio: 1 / 1;
  width: max(200%, 10rem);
}

.button-bg-layer {
  border-radius: 9999px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
}

.button-bg-layer.-pink {
  background-color: rgba(251, 196, 171);
}

.button-bg-layer.-brown {
  background-color: rgba(212, 163, 115);
}

.button-bg-layer.-green {
  --tw-bg-opacity: 1;
  background-color: rgba(204, 213, 174, var(--tw-bg-opacity));
}

.button:hover .button-inner-static {
  opacity: 0;
  transform: translateY(-70%);
  transition: transform 1.4s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.3s linear;
}

.button:hover .button-inner-hover {
  opacity: 1;
  transform: translateY(0);
  transition: transform 1.4s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 1.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.button:hover .button-bg-layer {
  transition: transform 1.3s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.3s linear;
}

.button:hover .button-bg-layer-1 {
  transform: scale(1);
}

.button:hover .button-bg-layer-2 {
  transition-delay: 0.1s;
  transform: scale(1);
}

.button:hover .button-bg-layer-3 {
  transition-delay: 0.2s;
  transform: scale(1);
}
