* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    overflow: hidden;
    width: 100%;
    height: 100%;
}


h1 {
    color: red;
}

.about {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.assignment2 {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
    overflow: hidden;
    gap: 2rem;
}

.about section {
    background-color: #f1f1f1;
    width: 100%;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.vl {
    border-left: 1px solid lightgray;
    height: 150px;
}

#three-canvas {
    position: fixed;
    /* top: 0; */
    left: 220;
    bottom: 100;
    outline: none;
}

#map {
    position: absolute;
    height: 100%;
    width: 100%;
}

#p5 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
}

#p5-container {
    display: block;
}

button {
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  display: inline-block; padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #4F5936;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
}

button:disabled {
    pointer-events: none;
}

button:hover {
  background-color: #fff;
  color: #4F5936;
  border: 2px solid #4F5936;
  box-shadow: 5px 5px 0px #4F5936;
}

button:active {
    box-shadow: none;
    transform: translateY(4px);
}