* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    /* overflow: hidden; */ /* This line is commented out to enable scrolling */
    width: 100%;
    height: 100%;
    background-image: url(pim-myten-m41k1lTzjVM-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    position: relative;
}

.black-overlay {
    background-color: rgba(0, 0, 0, 0.55);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.profile-pic {
    margin-bottom: 1rem;
    border-radius: 50%;
    overflow: hidden;
}

.profile-pic img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.header {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.tagline {
    font-style: italic;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.profile-info {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.menu {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.7rem 2rem;
    border-radius: 20px;
}

.menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu ul li a:hover {
    text-decoration: underline;
}

.music-player {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

.music-player audio {
    margin-left: 1rem;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.spotify-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.spotify-link img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-bottom: 0.5rem;
}

.spotify-link a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.about-me {
    background-image: url(1-8.jpeg);
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 400px 0;
    position: relative;
}

.about-me-content {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}

.scroll-down-arrow, .scroll-down-arrow-3d {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 2rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.to-3d-realm-text, .to-lounge-text {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.scroll-up-arrow {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

.assignment2 {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
    overflow: hidden;
    gap: 2rem;
}

#three-canvas {
    position: fixed;
    left: 220;
    bottom: 100;
    outline: none;
}

#three-button {
    appearance: none;
    background-color: #1A1A1A;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

#three-button:hover {
    background-color: #4CAF50;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
