* {
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: 'ChunkFiveRegular';
    src: url('font/chunkfive.eot')}
h1, h2 {
    font-family: 'ChunkFiveRegular', Georgia, serif;
}
html {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif
}
  
  /* Style the header */
  header {
    background-color: rgb(110, 136, 131);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  
  /* Create two columns/boxes that floats next to each other */
  nav {
    float: left;
    width: 30%;
    background: #ebede6;
    padding: 20px;
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
  }
  
  /* Clear floats after the columns */
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  footer {
    background-color: rgb(110, 136, 131);
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  /* Makes the columns stack on top of each other on small screens */
  @media (max-width: 768px) {
    .viewer {
      width: 100%; /* Full width for smaller screens */
    }
  }

  /* Formatting container*/
  .container {
    display:flex;
    align-items:center;
    justify-content:center;
  }

  h1 {text-align: center;}

  img {
    max-width:100%;
  }
  
  .description {
    padding-left:20px;
  }
  
  /* Buttons */

  .buttonbox {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button {
    background-color: white;
    color: olive;
    border-radius: 9em;
    font-size: 11px;
    font-weight: 500;
    font-family: Helvetica;
    padding: 1em 2em;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
  }
  
  button:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
  }
  
  button:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
  }

/*Slideshow Formatting */

 
.slideshow-container {
  max-width: 800px;
  height: 500px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.mySlides img{
    height: 500px;
    width: auto;
    max-width:fit-content;
    display: block;
    margin: 0 auto;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color:rgb(0, 0, 0) ;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(255, 255, 255, 0.616);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}


.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  margin-top: 25px;
  margin-bottom: 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 600px) {
    .prev, .next,.text {font-size: 11px}
  }

/* Viewers */
#three-canvas {
  bottom: 0;
  width: 80%;
}

#viewers {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  height: 100%;
  width: 100%;
  align-items: center; /* Or `stretch` */
}

.viewer {
  right: 0;
  /* outline: 1px solid black; */
  border-radius: 1rem;
  width: 100%;
  height: 815px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  padding: 0; /* Adjust as needed */
  margin: 0 auto; /* Center */
}
#map-section { /* Adjust IDs/classes as per your structure */
  bottom: 0;
}

#three-canvas {
  bottom: 0;
}

/* Responsive top navigation */ 
    /* Add a turquoise background color to the top navigation */
    .topnav {
      background-color: rgb(110, 136, 131);
      overflow: hidden;
    }

    /* Style the links inside the navigation bar */
    .topnav a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }

    /* Change the color of links on hover */
    .topnav a:hover {
      background-color: #ebede6;
      color: black;
    }

    /* Add an active class to highlight the current page */
    .topnav a.active {
      background-color: rosybrown;
      color: white;
    }

    /* Hide the link that should open and close the topnav on small screens */
    .topnav .icon {
      display: none;
    }

    /* For screens less than 600 pixels wide */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* This makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* Fun Text */

.h1 {
  font-size: 5em;
  color: white;
  text-transform: uppercase;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}