#name {
    position: absolute;
    font-size: 40pt;
    left: 16rem;
    font-family: sans-serif;
    color: greenyellow;
    text-align: left;
    -webkit-text-stroke: 0.5pt black;
}

.intro {
    position: absolute;
    left: 16rem;
    top: 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20pt;
    color: black;
    padding-right: 30rem;
    text-align: justify
}
body
{
    background-image: url("webpageoption.png");
    background-size: 100vw;
    background-repeat: no-repeat;
background-color: rgba(117, 117, 117, 0.548);
}

h3 {
    position: absolute;
    bottom: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
}

.profilepic {
  height: 20rem;
  width: 15rem;
  background-image: url("profilepicweb.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 3.5rem;
  border: #000000;
  border-style: solid;
  border-width: 1pt;
}


#List1 {
list-style: none;
padding-left: 0%;
position: absolute;
left: 23vw;
top: 25rem;

}

.animated-button {
    margin-top: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 1rem 10rem;
    border: 4px solid;
    border-color: transparent;
    font-size: 30pt;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: greenyellow;
    box-shadow: 0 0 0 2px greenyellow;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button svg {
    position: absolute;
    width: 24px;
    fill: greenyellow;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .arr-1 {
    right: 16px;
  }
  
  .animated-button .arr-2 {
    left: -25%;
  }
  
  .animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10rem;
    height: 2rem;
    background-color: greenyellow;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #212121;
    border-radius: 12px;
  }
  
  .animated-button:hover .arr-1 {
    right: -25%;
  }
  
  .animated-button:hover .arr-2 {
    left: 16px;
  }
  
  .animated-button:hover .text {
    transform: translateX(12px);
  }
  
  .animated-button:hover svg {
    fill: #212121;
  }
  
  .animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px greenyellow;
  }
  
  .animated-button:hover .circle {
    width: 30rem;
    height: 15rem;
    opacity: 1;
  }
  