* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: url('Background.gif') repeat;
  background-size: 25%;
}

h1 {
  color: red;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(240, 240, 240, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(128, 112, 112, 0.9);
  text-align: center;
}

.profile-image {
  max-width: 300px;
  border-radius: 1000%;
  margin: 20px auto;
  display: block;
}

.about-description {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
}

.game-section {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(240, 240, 240, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(240, 202, 202, 0.9);
  text-align: center;
}

.project-section {
  background-color: rgba(240, 240, 240, 0.9);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

h2 {
  font-size: 1.5rem;
  color: #0077b6;
}

button {
  background-color: #0077b6;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #005a8e;
}

.assignment2 {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: end;
  overflow: hidden;
  gap: 2rem;
}

.about section {
  background-color: #f1f1f1;
  width: 70%;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.vl {
  border-left: 1px solid lightgray;
  height: 150px;
}

.canvas-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#three-canvas {
  width: 30px; /* Set the width of your canvas */
  height: 20px; /* Set the height of your canvas */
}

#map {
  position: absolute;
  height: 100%;
  width: 100%;
}

#p5 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
}

#p5-container {
  display: block;
}

button:disabled {
  pointer-events: none;
}

button:active {
  box-shadow: none;
  transform: translateY(0);
}
