* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

canvas {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.assignment-text {
    position: fixed;
    z-index: 2;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5rem;
    right: 31%;
    bottom: 60%;
    transform: translate(-31%, -60%);
}

.assignment-subtext {
    position: fixed;
    z-index: 5;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    right: 30.5%;
    bottom: 58%;
    transform: translate(-30.5%, -58%);
}

.main-js {
    min-height: 100rem;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5rem;
}

#three-canvas {
    position: fixed;
    left: 220px; 
    bottom: 100px; 
    outline: none;
}

body, html {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

h1 {
    color: red;
}

.assignment2 {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
    overflow: hidden;
    gap: 2rem;
}

#three-canvas {
    position: fixed;
    left: 0;
    bottom: 100;
    outline: none;
}

button {
    appearance: none;
    background-color: transparent;
    border: 0.125em solid #1A1A1A;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 5px;
    min-height: 3.75em;
    min-width: 0;
    outline: none;
    padding: 1em 2.3em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

button:disabled {
    pointer-events: none;
}

button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

button:active {
    box-shadow: none;
    transform: translateY(0);
}
