body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; }
.legend {
    position: absolute;
    background-color: black;
    color: white;
    padding: 10px;
    bottom: 40px;
    left: 20px;
    border-radius: 5px;
    font-size: 12px;
    z-index: 1;
}
.marker {
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid white;
}
