body {
  background-color: #e3edff;
  margin: 0;
  padding: 0;
}

html, body, #map {
  height: 100%;
}


.links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  padding: 10px 0;
}
.link {
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  font-size: 16px;
  color:#fff;
}
.link:hover {
  color: rgb(178, 255, 255);
}
.active {
  text-decoration: white wavy underline;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  font-size: 16px;
  color: white;
}
.flower {
  width: 20px;
  height: auto;
  vertical-align: middle;
}


#footer {
  font-family: 'Arial';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(221, 193, 198, 0.9); 
  z-index: 1;
  text-align: center;
  padding: 10px;
  font-size: 15px;
  color: rgb(74, 124, 182);
}