
body {
  background-size:cover; 
  background-position:center;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: rgba(43, 81, 36, 0.364);
  border: 4px solid rgb(0, 6, 1);
  color: rgb(24, 18, 93);
  text-align: center;
  font-size: 50;
  border-radius: 50%;
}

h2 {
  font-family: 'Times New Roman', Times, serif;
  background-color: rgba(43, 81, 36, 0.364);
  border: 4px solid rgb(0, 6, 1);
  color: rgb(24, 18, 93);
  text-align: center;
  font-size: 20;
  border-radius: 50%;
}


img {
  border: 8px solid rgb(89, 74, 46);
  border-radius: 25%;
}

button {
  position: relative;
  overflow: hidden;
  background: transparent;
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  font-size: 1.5rem;
  color: #e0ffff;
  font-weight: 500;
  cursor: pointer;
  z-index: 1;
}
button:active{
  transform: scale(0.95);
}
button::before{
  content: '';
  position: absolute;
  inset: -3px 50px;
  background: #42455a;
  transition: inset 350ms ease;
  z-index: -2;
}
button:hover::before{
  inset: -20px 0px;
  background: darkgreen;
}
button::after{
  content: '';
  position: absolute;
  inset: 3px;
  border-radius: 10px;
  background: #22232e;
  z-index: -1;
}
