h1 {
  font-size: 3rem;
  letter-spacing: 0.5px;
}
h2 {
  font-size: 1.0rem;
  letter-spacing: 0.5px;
}
h3 {
  font-size: 0.8rem;
  letter-spacing: 0.1px;
}
p {
  font-size: 1.2rem;
  max-width: 700px;
}
body {
  margin: 0;
  padding: 50px;
  font-family: 'Helvetica';
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(-45deg, #e6ffe6, #ffffff, #9eafb0, #9ca8a5);
  background-size: 400% 400%;
  animation: gradientBackground 5s ease infinite;
}
@keyframes gradientBackground {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.image-container{
  display: flex;
  align-items: center;
}
img {
width: 400px;
height: 300px;
border-radius: 30px;
}
.introduction {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  box-shadow: 0 4px 6px rgb(86, 113, 173);
  padding: 2rem;
}
ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}
.interests {
  width: 100%;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  box-shadow: 0 4px 6px rgb(86, 113, 173);
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding:2rem
}
.interests img {
  width: 150px;
  height: 150px;
  border-radius: 50px;
  padding: 2rem;
}
a, button {
  display: inline-block;
  margin: 10px;
  text-decoration: none;
  color: rgb(86, 113, 173);
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid #333;
  font-family: inherit;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0.5rem 0.8rem;
}
a:hover, button:hover {
  background-color: #333;
  color: #fff;
}
