
.text-box {
    background-color: rgba(240, 240, 240, 0.466); 
    padding: 10px; 
    border-radius: 10px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    height: 40px; 
    text-align: center; 
  }
  header {
    font-family: Arial, sans-serif;
    color: #212224;
    text-align: center;

  }
  h

 header1 {
        font-family: Arial, sans-serif;
        color: #212224;
        text-align: center;
  
  /* Style for "ARCN5005"*/
  .course-name {
    font-weight: bold;
    font-size: 18px; 
  }
  /* Style for "Theory & Practice of Architectural Representation"*/
  .course-description {
    font-weight: normal;
    font-size: 16px; 
  }
  }
  p {
    font-family: Arial, sans-serif;
    color: #696969;
    font-size: 14px; 
  
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 387px;
    left: 13px;
  }
  
  .button {
    height: 50px;
    width: 200px;
    margin-top: 10px;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #252525;
    overflow: hidden;
    border-radius: 30px;
    color: #333;
    transition: all 0.5s ease-in-out;
    
  }
  
  .btn-txt {
    z-index: 1;
    font-weight: 800;
    letter-spacing: 4px;
  }
  
  .type1::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
    background-color: #333;
    border-radius: 30px;
    visibility: hidden;
    height: 10px;
    width: 10px;
    z-index: -1;
  }
  
  .button:hover {
    box-shadow: 1px 1px 200px #a3a2a289;
    color: #ffffff50;
    border: none;
  }
  
  .profile-picture-container {
    width: 160px; 
    height: 160px;
    position: absolute;
    top: 200px; 
    left: 33px; 
    border-radius: 70%;
    overflow: hidden;
  }
  
  .profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
  
  }   
  .rectangle {
    width: 200px; 
    height: 700px;
    background-color: rgba(240, 240, 240, 0.466); 
    padding: 10px; 
    border-radius: 10px; 
    position: absolute;
    left: 0;
    top: 10px;
  }
  
  #cover-photo {
    position: relative;
    width: 100%;
    height: 500px;
    background: url("beach.jpg");
    background-size: cover;
  
  }
  .photo-container {
    width: 500px; 
    height: 500px; 
    position: relative;
    left: 0;
    top: 0px;
    overflow: hidden; 
  }
  
  .rectangular-photo {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    display: block; 
  } 
  
  #three-container {
    width: 100%;
    height: 100%;
    position: relative; 
    top: -498px; 
  }
  
  .container {
    position: absolute;
    top: 568px;
    right: 6px;
    width: 700px;
    height: 498px;
    border: 2px solid #ccc;
  
  }

  #mapheadertext {
    font-family: 'Arial', sans-serif;
        background: rgba(255, 255, 255, 0.7); 
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        margin-top: 1100px;
        width: 100%;
        padding: 10px;
        text-align: center;
        font-size: 13px;
        font-style: italic; 
        color: rgb(54, 52, 52); 
        
    }
    body { margin: 0; padding: 0; }
    html, body, #map { height: 100%; }

    #header {
      font-family: 'Arial', sans-serif;
      background: rgba(255, 255, 255, 0.7);
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      padding: 10px;
      text-align: center;
      font-size: 13px;
      font-style: italic;
      color: rgb(54, 52, 52);
      border-bottom: 1px solid #ccc;
    }

#map {
  height: 800px;
  z-index: 0;   

}