h1{
    color: rgb(0, 0, 0);
    font-size: 100px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    --color1: rgb(30, 65, 116);
    --color2: rgb(221, 169, 75);
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, var(--color2) 5%, transparent 75%, transparent 75%, var(--color2) 75%, var(--color2)), 
                      linear-gradient(135deg, var(--color2) 25%, var(--color1) 75%, var(--color1) 75%, var(--color2) 75%, var(--color2));
    background-size: 200px 106px;
    background-position: 0 0, 235px 135px;
}

.container{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: 20pt;

}
.item map{
    flex-grow: 1;
}
.viewer{
    width:50rem;
    height: 30rem;
    margin-top: 3REM;
}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    margin-top: 3rem;
   }
   
   button {
    width: 15rem;
    height: auto;
   }
   
   button .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: rgb(30, 65, 116);
    border-radius: 1.625rem;
   }
   
   button .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   

   button .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: rgb(0, 0, 0);
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .button-text {
    color: #fff;
   }

   Body{
       background: rgb(221, 169, 75);
    }