* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(170, 204, 124);
    cursor: url('cursor.png') 16 16, auto;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

#title h1 {
    font-size: 2em;
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #225101;
    margin: 5px;
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
}

.button-container {
    position: fixed;
    top: 5%;
    left: 2%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 10;
}

.button-container a {
    text-decoration: none;
}

.button-container button {
    padding: 0.8em 1.7em;
    display: block;
    border-radius: 25px;
    border: 1px solid #225101;
    font-weight: bold;
    font-size: .7em;
    text-transform: uppercase;
    background: #9fbd7d;
    color: #ffffff;
    transition: 0.4s ease-in-out;
}

.button-container button:hover {
    background: hwb(95 0% 68%);
    text-transform: uppercase;
    font-size: .7em;
    color: rgb(159, 189, 125);
    cursor: pointer;
}


#banner {
    color: #225101;
    text-align: center;
    padding: 5px 0;
    border: 1px solid #225101;
    font-size: 1.5em;
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 3px;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    z-index: 1;
}


#map {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}
