* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map {
            height: calc(100% - 50px);
        }

      
  header {
            height: 50px; 
            background-color: #333;
            color: white;
            text-align: center;
            line-height: 50px;
        }


        .body { 
          margin: 0; 
          padding: 0; 
        }
        html, body, #map { 
          height: 100%; 
        }



section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background-color: #0b5e12;
  padding: 20px;
}


.flex {
  text-align: center;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 20px 2px 5px rgba(0, 0, 0, 0.2);
}

i {
  transition: transform 0.2s ease-in-out;
}

i:hover {
  transform: scale(1.2);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 0px;
}

.cool-button {
  background-color: #333; 
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.vl {
  border-left: 1px solid lightgray;
  height: 150px;
}

#three-canvas {
  position: flex;
  /* top: 0; */
  left: 220;
  bottom: 100;
  outline: none;
}
#magic {

  position: fixed;
  width: 100%;
  height: 100vh;
  display: block;
  top: 0;
  left: 0;
  z-index: -9999;
}

