.maplibregl-popup {
    max-width: 400px;
     font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
   }
  
#menu {
 background: #fff;
 position: absolute;
 z-index: 1;
 top: 10px;
 right: 10px;
 border-radius: 3px;
 width: 120px;
 border: 1px solid rgba(0, 0, 0, 0.4);
 font-family: 'Open Sans', sans-serif;
 }