body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-image: url('resources/background.jpg'); 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white; 
  font-weight: bold;
}


header h1 {
  text-align: center;
  margin-top: 300px; 
  color: rgb(188, 132, 132);
  font-weight: bold;
  
}

header h2 {
  text-align: center;
  margin-top: 40px;
  background-color: rgb(104, 71, 55);
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.308);
  display: inline-block;
}

.info-list, .assignments-list {
  padding: 20px;
}

.assignments-list button {
  width: 200px; 
  height: 55px; 
  font-size: 11px; 
  text-align: center;
  line-height: 50px; 
  margin: 2px 0; 
  cursor: pointer;
}


button {
  background-color: rgb(233, 217, 207);
  color: rgb(35, 46, 76);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold; 
  border: none;
  padding: 10px 20px;
  perspective: 30rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.308);
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin: 10px;
}



.image-container {
  text-align: center;
  margin: 20px 0;
}

.profile-picture, .name.jpg {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  object-fit: cover;
  margin: 10px auto;
}

p {
  text-align: center;
  margin-top: 20px;
}

.circular-image {
  width: 200px; 
  height: 200px; 
  border-radius: 70%;
  position: absolute; 
  top: 50px; 
  left: 50px;
}

body {
  background-size: cover; 
  background-repeat: no-repeat; 
}

