* {
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  font-family: 'arvo', sans-serif;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #cfa2d3, #ffffff); /* Lilac to white gradient */
  color: #1c1c1c;
  text-align: center;
  margin: 0;
  font-size: large;
  overflow-y: scroll;
}

header .container {
  position: relative;
  text-align: center;
  color: #ffffff; /* White text */
}

.centered-left {
  position: absolute;
  top: 50%;
  left: 500px;
  transform: translate(-50%, -50%);
  font-size: x-large;
  transition: transform 0.3s ease, font-size 0.3s ease;
  color: #ffffff; /* White text */
}

.centered-left:hover {
  transform: translate(-50%, -50%) scale(1.1); /* Enlarge and hover */
  font-size: larger; /* Increase font size on hover */
}

.centered-right {
  position: absolute;
  top: 50%;
  left: 920px;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease, font-size 0.3s ease;
  color: #ffffff; /* White text */
}

.centered-right:hover {
  transform: translate(-50%, -50%) scale(1.1); /* Enlarge and hover */
  font-size: larger; /* Increase font size on hover */
}

.centered-rightagain {
  position: absolute;
  top: 50%;
  left: 990px;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease, font-size 0.3s ease;
  color: #ffffff; /* White text */
}

.centered-rightagain:hover {
  transform: translate(-50%, -50%) scale(1.1); /* Enlarge and hover */
  font-size: larger; /* Increase font size on hover */
}

ol,
ul {
  list-style-type: disc;
  margin-left: 2.5rem;
  font-size: large;
  color: #1c1c1c; /* Dark text color for list items */
}

.about {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Styling for the slideshow */
.slideshow-container {
  position: relative;
  max-width: 100%;
  margin: auto;
}

.mySlides {
  display: none;
}

img {
  width: 100%;
  height: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s ease;
  user-select: none;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb; /* Gray color for the dots */
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #717171; /* Darker hover color for dots */
}

.active {
  background-color: #717171; /* Darker active dot color */
}
