.vl {
    border: 2px solid rgb(30, 65, 116);
    height: 150px;
}

img{
    border: 3px solid rgb(30, 65, 116);
    border-radius: 2px;
    }

button {
    padding: 17px 40px;
    border-radius: 50px;
    border: 1;
    background-color: rgb(240, 233, 220);
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all .5s ease;
   }
   
   button:hover {
    letter-spacing: 3px;
    background-color: rgb(30, 65, 116);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(30, 65, 116) 0px 7px 29px 0px;
   }
   
   button:active {
    letter-spacing: 3px;
    background-color: rgb(30, 65, 116);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(30, 65, 116) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
   }

*{
    background-color: rgb(221, 169, 75);
} 

#evil-button {
    position: absolute;
    white-space: nowrap;
    font-style: italic;
    font-size: .6rem;
  
  }

*{.container {
    --color1: rgb(30, 65, 116);
    --color2: rgb(221, 169, 75);
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, var(--color2) 25%, transparent 25%, transparent 75%, var(--color2) 75%, var(--color2)), 
                      linear-gradient(135deg, var(--color2) 25%, var(--color1) 25%, var(--color1) 75%, var(--color2) 75%, var(--color2));
    background-size: 200px 106px;
    background-position: 0 0, 235px 135px;
  };}
