h1{ 
  color: blueviolet;
  font-family: 'Times New Roman', Times, serif
  font:Arial, Helvetica, sans-serif
};

ul {
     
   };

ul {
  list-style-type: square;
  list-style-type: none;
     font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
};

li::before {
  content:"";
  color: rgb(63, 17, 17);
   font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;

   }

   