header  {
    width: 200px;
    height: 100%;
    background-image: repeating-radial-gradient(  #5d5d5dee 87%,#2e2f2f 90%);
    background-size: 50px 50px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15%;
    vertical-align: auto;
}
  p  {
    height: 100%;
    background-image: repeating-radial-gradient(  #212222ee 87%,#0000007f 90%);
    background-size: 50px 50px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20%;
    text-align: center;
    margin: auto;
  }

h1 {
    border-radius: 15px;
    background-image: repeating-radial-gradient(  #525252ee 87%,#181919 90%);
    background-size: 50px 50px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 25px;
    padding: 20px;
    width: 100px;
    height: 100px;
    text-align: center;
  }

 #rcorners3 {
    border-radius: 50%;
    background: #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
  }

h2 {
  width: 100%;
  height: 100%;
  background-image: repeating-radial-gradient(  #f8f1f1ee 87%,#303030 90%);
  background-size: 50px 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
}
h3 {
  width: 100%;
  height: 100%;
  background-image: repeating-radial-gradient(  #f8f1f1ee 87%,#242424 90%);
  background-size: 50px 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
}
h6 {
  width: 100%;
  height: 100%;
  background-image: repeating-radial-gradient(#f8f1f1ee 87%,#272727 90%);
  background-size: 50px 50px;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  margin-top:80em;; ;
  margin-bottom:80em;
  background: repeating-radial-gradient(circle, #141414, #494949 5px, #000 6px);
  background-size: 50px 100px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10em;
  font-size: 17px;
  font-weight: 600;
  padding: 1em 2em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid #252525;
  box-shadow: 0 0 0 0 #1d1d1d;
}

a:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 rgb(159, 159, 159);
};

a:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 rgb(138, 138, 138);
};

.summary{
  max-width: 50%;
}

body {
    width: 100%;
  height: 100%;
  /* Add your background pattern here */
  background: repeating-radial-gradient(circle, #fff, #ededed 5px, #aeaeae 6px);
  background-size: 50px 100px;
}

h5  {
  height: 100%;
  width: 200px;
  background-image: repeating-radial-gradient(  #1f1f1fee 87%,#0000007f 90%);
  background-size: 50px 50px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10%;
  border-color: #000;
  border-style: dotted;
  text-align: center;
  margin: auto;
  margin-top: 50px;
color: rgb(255, 255, 255);
}