* {
    padding: 0;
    box-sizing: border-box;

}

.b{
    color: rgb(214, 220, 220);
    background-color: rgb(110, 136, 131);
}
.projects{
    display: flex;
}

.t{
    padding: 10px;
} 

body,
html {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

ol,
ul {
    list-style-type: disc;
    margin-left: 2.5rem;
    font-size: large;
}


h1 {
    color: red;
}

.about {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


button {
    appearance: none;
    background-color: white;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 1rem;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 5px;
    min-height: 3.75em;
    min-width: 0;
    outline: none;
    padding: 1em 2.3em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

button:disabled {
    pointer-events: none;
}

button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    transform: translateY(-2px);
}

button:active {
    box-shadow: none;
    transform: translateY(0);
}