body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.header {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.body-paragraph {
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    width: 500px;
    margin: 0 auto;
}

.centered-content {
    text-align: center;
}

.rounded-image {
    border-radius: 25px;
}

.button-container {
    text-align: center;
}

.assignment-button {
    background-color: rgb(82, 104, 45);
    border: none;
    color: white;
    height: 300px;
    width: 150px;
    border-radius: 18px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 8px;
    cursor: pointer;
    transition: background-color 0.5s, color 1s;
}

.assignment-button:hover {
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-color: rgb(82, 104, 45);
    border-style: solid;
    color: rgb(82, 104, 45);
}
