body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('background.jpg');
    background-blend-mode: multiply;
    opacity: 0.1;
}
h1 {
    text-align: left;
    color: #01161E;
    font-size: 40px;
}
h2{
    text-align: left;
    color: #01161E;
    font-size: 20px;
}
h3 {
    font-size: 30px;
    text-align: center;
    color: #01161E;
    margin-top: -50px;
    margin-bottom: 50px;
}
p1 {
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
}
p{
    font-size: 12px;
    line-height: 1.5;
    text-align: justify;
}
img {
    float: left;
    margin-right: 20px;
    width: 250px;
    margin-bottom: 30px;
    border-radius: 4px;
    border: 10px solid #AEC3B0;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.grey-line{
    border: 0;
    border-top: 2px solid #ccc;
    margin: 30px auto;
    width: 1000px;
}
.grey{
    border: 0;
    border-top: 2px solid #ccc;
    padding: 40px;
    width: 900px;
    clear: both;
    margin: 30px auto;
}

.assignments-container{
    background-color: #AEC3B0;
    padding: 120px;
    text-align: center;
    border-radius: 4px;
    margin: 70px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    overflow: hidden;
    width: 100%;
    height: 100%;
}


.about {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.assignment2 {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
    overflow: hidden;
    gap: 2rem;
}

.about section {
    background-color: #f1f1f1;
    width: 70%;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.vl {
    border-left: 1px solid lightgray;
    height: 150px;
}

#three-canvas {
    position: fixed;
    /* top: 0; */
    left: 220px;
    bottom: 100px;
    outline: none;
}

#map {
    position: absolute;
    height: 100%;
    width: 100%;
}

#p5 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
}

#p5-container {
    display: block;
}

button {
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  display: inline-block; padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #4F5936;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
}

button:disabled {
    pointer-events: none;
}

button:hover {
  background-color: #fff;
  color: #4F5936;
  border: 2px solid #4F5936;
  box-shadow: 5px 5px 0px #4F5936;
}

button:active {
    background-color: #fcf414;
    box-shadow: none;
    transform: translateY(4px);
}

/* CSS for Three.js frame container */


body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Set up container to hold the map and Three.js scene */
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; /* Aligns items to the bottom */
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    
}

/* Style for the map container */

#map {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px; /* Adjust height as needed */
    background-color: #ccc; /* Add background color or other styles */
}

/* Hide the Three.js canvas initially */
#three-canvas {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%);
    z-index: 9999; /* Set z-index to ensure visibility */
}
.three-container {
    position: absolute;
    bottom: 0;
    right: 0; /* Adjust the right position as needed */
    width: 50%; /* Set an appropriate width */
    height: 500px; /* Adjust height as needed */
    padding: 40px;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: #ccc; /* Add background color or other styles */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}
.map-container {
    width: 50%;
    height: 500px; /* Set an appropriate height */
    border: 1px solid #ccc; /* Example border */
    box-sizing: border-box;
    padding: 40px;
    margin-bottom: 20px; /* Adjust margin as needed */
    margin-left: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Position the map at the bottom of the page */
.map-container {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff; /* Set a background color if needed */
}