@font-face {
    font-family: 'CustomFont';
    src: url('./rw_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

body { margin: 0; padding: 0;
    cursor: url('../images/star.png'), auto;
    font-family: 'CustomFont', sans-serif;
    font-size: small;
}

header {
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    background-color: #5e718a;
    z-index: 400;
    padding-left: 30px;
    color:rgb(255, 255, 255)
    
  }

  h3{
    color: rgb(11, 49, 83);
  }

  .buttons {
    display: flex;
    flex-direction: column; 
  }
  
  button {
    --color: rgb(12, 50, 65);
    font-family: inherit;
    display: inline-block;
    width: 100px;
    height: 2em;
    line-height: 2em;
    overflow: hidden;
    margin: 10px;
    font-size: 14px;
    z-index: 1;
    color: var(--color);
    border: 2px solid var(--color);
    border-radius: 6px;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: url('../images/star.png'), auto;
  }

  .maplibregl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

html, body, #map { height: 100%;
}