
#image1{
    margin: auto;
    width: 90%;
}
#image2{
    margin: auto;
    width: 30%;
}


.navigationBar{
    background-color: rgb(19, 71, 63);
    border-radius: 35px;
    overflow: hidden;
    margin: 10% 2.5% 0;
}
.navigationBar a{
    text-align: center;
    padding: 15px 1.6%;
    color: rgb(202, 158, 114);
    font-size: 20px;
    text-decoration: none;
    margin: auto;
    display: block;
    float: left;
}
.navigationBar a:hover{
    background-color: rgba(24, 143, 123, 0.829);
    color:rgb(255, 255, 255);
}
.navigationBar a.active{
    background-color:rgb(143, 155, 209);
    color: rgb(57, 31, 65);

}
    
@media screen and (max-width: 1200px){
    .navigationBar a{
        float: none;
        display: block;
        width: auto;
        text-align: left;
    }
}

h1{
    text-align: center;
    color: rgb(2, 28, 32);
    font-size: 60px;
    font-style: normal;
    margin-top: 8%;
    margin-bottom: 3%;

}
h2{
    text-align: center;
    color: rgb(41, 54, 114);
    font-weight: bold;
    font-size: 30px;
    font-style: normal;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 5px;
    background-color: rgba(150, 169, 233, 0.527);
}


#paragraph1{
    text-align: center;
    font-size: 20px;
    color:rgb(171, 193, 253);
    margin: auto;
    width: 40%;
    padding: 20px;
    font-style: italic;
}





#March{
    color: rgb(21, 16, 61);
}

audio {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}


 
#container{
    text-align: center;
    width: auto;
    
    margin: 55px;
    background-size: 50%;
    background-color: #63807da8;
    border-radius: 55px;
}
body {
    background-image: url(images/leaf.JPG);
    background-size: cover;
    }







