* {
    padding: 0;
    box-sizing: border-box;

}

body,
html {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

ol,
ul {
    list-style-type: disc;
    margin-left: 2.5rem;
    font-size: large;
}


h1 {
    color: red;
}

.about {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.assignment2 {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
    overflow: hidden;
    gap: 2rem;
}

.main-container {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    gap: 2rem;
}

.final {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    gap: 2rem;
}

.about {
    background-color: #f1f1f1;
    width: 70%;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.vl {
    border-left: 1px solid lightgray;
    height: 150px;
}

#three-canvas {
    bottom: 0;
}

#viewers {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    height: 100%;
    padding: 1rem;
}

#full-screen {
    width: 29px;
    height: 29px;
    position: relative;
    top: 40px;
    z-index: 99;
    left: 8px;
    padding: 0.3rem;
    pointer-events: all;
    cursor: pointer;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.viewer {
    right: 0;
    /* outline: 1px solid black; */
    border-radius: 1rem;
    width: 100%;
    height: 45%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: red;
    outline: 3px solid yellow;
    border-radius: 50%;
    z-index: 99;
}

.legend {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    width: fit-content;
    height: 1rem;
}

#map {
    position: absolute;
    height: 100%;
    width: 100%;
}

#p5 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
}

#p5-container {
    display: block;
}






.button-container {
    position: absolute;
    top: 460px; 
    left: 1270px;
    display: flex;
    flex-direction: column;
}

button {
    appearance: none;
    background: linear-gradient(135deg, #8b93d2, #a8c592);
    border: none; 
    border-radius: 2em;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px; 
    font-weight: 400; 
    line-height: normal;
    margin: 5px;
    min-height: 3em; 
    min-width: 8em; 
    outline: none;
    padding: 1em 1em;
    text-align: center;
    text-decoration: none;
    transition: background 300ms ease-in-out, transform 150ms ease; 
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}


button:hover {
    background: linear-gradient(135deg, #a0ce7f, #ca7373); 
    transform: rotate(5deg); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}


button:active {
    background: linear-gradient(135deg, #8b93d2, #a8c592);
    transform: scale(0.95);
}



button:disabled {
    pointer-events: none;
}

img[alt="Weixi Zhong"] {
    margin-bottom: 70px;
    margin-left: 50px;
    transition: transform 0.3s ease;
  }
  img[alt="Weixi Zhong"]:hover {
    transform: scale(1.05);
  }
  .button-container button {
    transition: background-color 0.3s ease;
  }
  .button-container button:hover {
    background-color: #007bff; /* Change color as needed */
    color: white;
  }