*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas {
    margin-bottom: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-x: hidden;
    overflow-y: hidden;
}
  
.header {
    background: url('./Photos/background.jpg');   
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 20px;  
    width: 100%;
    box-sizing: border-box;
    position: fixed;  
    top: 0;  
    left: 0; 
    z-index: 1000; 
}
  
.webtitle {
    font-size: 18px;  
    font-weight: bold;  
    font-family: Arial, sans-serif;  
    padding: 10px;
}
  
.pagetitle {
    text-align: center;
    font-stretch: extra-expanded;  
    font-size: 25px;  
    font-weight: bold;  
    font-family: Arial, sans-serif; 
    padding: 10px;
    border-radius: 10px;
    background-color: none;  
}  

.nav-icons {
    display: flex; 
    gap: 20px; 
    align-items: center; 
  }
  
.icon-button {
    background: none;
    border: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .icon-button .material-symbols-outlined {
    font-size: 25px;
    color: white;
  }
  
  .icon-button:hover {
    transform: scale(1.3); 
    transition: 0.3s;
  }

.main-js {
    min-height: -100rem;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5rem;
}

#map {
    width: 100vw;
    height: 100vh; 
}

.marker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
}

/* Override default MapLibre default popup styles */
.maplibregl-popup {
    background: none !important;
    box-shadow: none !important;
    border: none !important;
    padding: 0 !important;
}

/* Override default MapLibre default container styles */
.maplibregl-popup-content {
    background: none !important;
    box-shadow: none !important;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: visible !important;
}

/* Override default MapLibre default tip */
.maplibregl-popup-tip {
    display: none !important;
}

/* Circular popup */
.custom-popup {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px; 
    height: 300px;
    background-color: rgba(255, 255, 255, 0.95); 
    border-radius: 50%; 
    border: 5px solid rgba(131,252,244,1); 
    box-shadow: 0 4px 8px rgba(241, 155, 155, 0.785); /* Glow Effect */
    text-align: center;
    transform: translate(-10%, -5%); /* Position Above Dot */
}

/*Triangular tip*/
.custom-popup::before {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 15px 0 15px;
    border-color: rgba(131,252,244,1) transparent transparent transparent;
}

/*Image in Popup*/
<<<<<<< HEAD
.custom-popup img {
=======
.custom-popup img {;
>>>>>>> 2fd54fe0dc7be0a8608cf78c28aae8953dbce130
    width: 200px;
    height: 200px;
    align-content: bottom;
    border-radius: 50%;
}

/*Text in popup*/
.custom-popup strong {
    font-size: 15px;
    font-weight: bold;
    color: #333;
    margin: 0;
    padding: 0 10px;
    word-wrap: break-word;
}

.custom-popup p {
    font-size: 13px;
    color: #333;
    margin: 0;
    padding: 0 5px;
    word-wrap: break-word;
}