body { 
    margin: 0; 
    padding: 0; 
}
html, body, #map { 
    height: 100%; 
    width: 100%;
}
#title {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background: rgba(164, 71, 6, 0.7);
    padding: 10px 20px;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    font-size: 15px;
    z-index: 1;
    animation: flash 1.5s infinite;
}
.maplibregl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

@keyframes flash {
    0%, 100% {
        background: rgba(164, 71, 6, 0.7);
    }
    50% {
        background: rgba(19, 19, 19, 0.7);
    }
}