body {
  font-family: 'Calibri', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background: url('../Background.gif') repeat;
  background-size: 25%;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(240, 240, 240, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(128, 112, 112, 0.9);
  text-align: left;
}

.profile-image {
  max-width: 300px;
  border-radius: 1000%;
  margin: 20px auto;
  display: block;
}

.about-description {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
}

.game-section {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.project-section {
  background-color: rgba(240, 240, 240, 0.9);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

h1 {
  color: #333;
}

h2 {
  font-size: 1.5rem;
  color: #0077b6;
}

button {
  background-color: #0077b6;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #005a8e;
}