body {

    background-size:cover; 
    background-position:center;

  }

  .background-img {

    background-image: url(nunavut.jpg);
    background-size: cover;
    /* Without z-index the background seems to cover the content*/
    z-index: -1;
}
  
  .text-box {
    background-color: rgba(4, 29, 219, 0.466); 
    padding: 10px; 
    border-radius: 10px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    height: 40px; 
    text-align: center; 
  }

  .text-box2 {
    background-color: #0397197e;
    margin: auto;
    width: 50%;
    border: 5px solid green;
    padding: 10px;
    margin-top: 2em;
    border-radius: 20%;
    z-index: 6;
  }


  .text-box3 {
    background-color: rgba(203, 199, 74, 0.265);
    margin: auto;
    width: 50%;
    border: 5px solid green;
    padding: 10px;
    margin-top: 2em;
    border-radius: 20%;
    text-align: left;
  }

  .text-box4 {
    background-color: rgba(243, 243, 238, 0.8);
    margin: auto;
    width: 50%;
    border: 0px solid green;
    padding: 10px;
    margin-top: 2em;
    border-radius: 0%;
    text-align: center;
  }

  header {
    font-family: Arial, sans-serif;
    color: #212224;
    text-align: center;
    }




  .button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 300px;

  }
  
  .button {
    position: relative;
    top: 10px;
    overflow: hidden;
    background: transparent;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    font-size: 1.5rem;
    color: #e0ffff;
    font-weight: 500;
    cursor: pointer;
    z-index: 1;
  }
  .button:active{
    transform: scale(0.95);
  }
  .button::before{
    content: '';
    position: absolute;
    inset: -3px 50px;
    background: #42455a;
    transition: inset 350ms ease;
    z-index: -2;
  }
  .button:hover::before{
    inset: -20px 0px;
    background: rgb(51, 179, 51);
  }
  .button::after{
    content: '';
    position: absolute;
    inset: 3px;
    border-radius: 10px;
    background: #22232e;
    z-index: -1;
  }







/* Image Gallery */
.image-gallery {
  grid-area: gallery;
  position: relative;
  width: 100%; 
}

/* Image Slideshow */
.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #FFD700;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: #c92a1d;
}

.numbertext {
  color: #FFD700;
  font-size: 14px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

@keyframes fade {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.mySlides {
  display: none;
  animation: fade .05s ease-in-out; 
}

.photo-container {
  float: right;
  width: 100%;
  margin-top: 2em;

}

/* Viewers */
.viewer1 {
  grid-area: viewer1;

  height: 150px;
  border: none;
}

.viewer2 {
  float: left;
  border: none; 
  margin-top: 10px;
  margin-left: 10px;
  width: 500px; 
  height: 500px; 
}

.viewer2 iframe {
  flex-grow: 1; 
  height: 100%; 
  border: none; 
}

/* Map */
.item.map iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.item.map {
  grid-area: map;
  height: 700px;
  border: 1px solid black;
}








  .profile-picture-container {
    width: 160px; 
    height: 160px;
    position: absolute;
    top: 100px; 
    left: 33px; 
    border-radius: 40%;
    overflow: hidden;
  }

  
  .profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
  
  }   

  

  .photo-container {
    width: 600px; 
    height: 500px; 
    float: right;
    position: relative;
    right: 20px;
    top: 10px;
    overflow: hidden; 
  }
  
  .rectangular-photo {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    display: block; 
  } 
  


/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container1 {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}






  #three-container {
    width: 100%;
    height: 100%;
    position: relative; 
    top: -498px; 
  }
  
  .container {
    position: left;
    top: 10px;
    left: 20px;
    width: 550px;
    height: 500px;
    border: 10px solid #ccc;
  
  }

  #mapheadertext {
    font-family: 'Arial', sans-serif;
        background: rgba(255, 255, 255, 0.7); 
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        margin-top: 1100px;
        width: 100%;
        padding: 10px;
        text-align: center;
        font-size: 13px;
        font-style: italic; 
        color: rgb(54, 52, 52); 
        
    }
    body { margin: 0; padding: 0; z-index: 2;}
    html, body, #map { height: 100%; z-index: 2;}


#map {
    top: 0px;
  height: 800px;
  z-index: 2;   

}