@font-face {
  font-family: 'CustomFont';
  src: url('./rw_regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents any overflow */
}

body {
  background-image: -webkit-linear-gradient(to bottom right, #5e718a, #4c2618);
  background-image: linear-gradient(to bottom right, #5e718a, #4c2618);
  cursor: url('../images/star.png'), auto;
  font-family: 'CustomFont', sans-serif;
}

header {
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  background-color: #5e718a;
  z-index: 400;
  padding-left: 30px;
  color: rgb(255, 255, 255);
}

.buttons {
  display: flex;
  flex-direction: column;
}

button {
  --color: rgb(12, 50, 65);
  font-family: inherit;
  display: inline-block;
  width: 100px;
  height: 2em;
  line-height: 2em;
  overflow: hidden;
  margin: 10px;
  font-size: 14px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 6px;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: url('../images/star.png'), auto;
}

.viewer-container {
  display: flex;
  flex-direction: column; /* Stacks the frames vertically */
  height: 100%; /* Full height of the body */
  width: 60vw; /* 60% of the viewport width */
  margin-left: auto; /* Push the container to the right */
  gap: 10px;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adds a shadow effect */
}

.viewer {
  width: 100%; /* Full width of the container */
  height: 50vh; /* Half of the viewport height for each frame */
  border: 2px solid #333;
  flex: 1; /* Each iframe takes up equal height */
}
