body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  
  #legend {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 8px;
  }
  
  .legend-title {
    grid-column: span 10;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .legend-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer; /* Add cursor:pointer for better indication of interactivity */
  }
  
  .legend-swatch img {
    width: 15px;
    height: 15px;
    margin-bottom: 4px;
    border-radius: 4px;
    transition: transform 0.2s ease-in-out; /* Add a smooth transition effect */
  }
  
  .legend-item:hover .legend-swatch img {
    transform: scale(1.5); /* Increase the size on hover */
  }
  
  .legend-item span {
    font-size: 10px;
  }
  .legend-button {
    background-color: #FF474C;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .legend-button:hover {
    transform: scale(1.2); /* Increase the size on hover */
  }