h1 {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    padding-left: 30px;
  }

  p {
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
  }